<%- include('./Partials/header.ejs') %>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="css/team.css">

<div class="bg">
  <!-- Heading of the Team Page -->
  <h1 class="team__head">Our Team</h1>
<div class="team__page">
  <!-- Card of A member -->
  <div class="team__card">
    <!-- Image and Name Details -->
    <div class="user__detail">
      <img src="images/nitanshu.jpg" alt="profile image" />
      <div class="detail">
        <h1 class="name">Nitanshu Lokhande</h1>
        <p class="position">
          Student at IIIT Vadodara
        </p>
      </div>
    </div>
    <!-- Detail about a member -->
    <div class="info">
      <p>
        Hey Guys, This is Nitanshu Lokhande (2nd year) Student at IIIT Vadodara enrolled in Btech CSE program. I am an open source ethusiast and a tech hunter currently exploring/working in the field of Blockchain developing 
        smart contracts for ethereum . I am a tech geek always keen to learn new Technologies to get in pace with world demands. If you would like to connect with me feel free to ping me on below given handles.  
      </p>
      <!--social links -->
      <div class="social__links container">
        <a href="https://github.com/nlok5923" class="fa fa-github" style="font-size: 30px"> </a>
        <a href="https://www.facebook.com/nitanshu.lokhande.9" class="fa fa-facebook" style="font-size: 30px"> </a>
        <a href="https://www.linkedin.com/in/nitanshu-lokhande-5b60691a0/" class="fa fa-linkedin" style="font-size: 30px"> </a>
      </div>
    </div>
  </div>
  <div class="team__card">
    <div class="user__detail">
      <img src="images/naman.jpeg" alt="profile image" />
      <div class="detail">
        <h1 class="name">Naman Kalra</h1>
        <p class="position">
          Student at IIIT Vadodara
        </p>
      </div>
    </div>
    <div class="info">
      <p>
        Hi there, I am Naman pursuing B.Tech CSE(2nd Year) at IIIT Vadodara. I am currently working and exploring in the field of web development with MERN Stack.
        Believing in the fact that Well done is far better than well said, I am always keen to look for new challenges . Later on I like to design and build solution for those challenges.
        
      </p>
      <div class="social__links container">
        <a href="https://github.com/Naman-1234" class="fa fa-github" style="font-size: 30px"> </a>
        <a href="https://www.facebook.com/profile.php?id=100008751541546" class="fa fa-facebook" style="font-size: 30px"> </a>
        <a href="https://www.linkedin.com/in/naman-kalra-9192571aa" class="fa fa-linkedin" style="font-size: 30px"> </a>
      </div>
    </div>
  </div>
</div>
</div>
