<%- include('./Partials/header.ejs') -%>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

<div class="container mt-5">
  <h1 class="text-center">Add instructor</h1>
  <form method="POST" action="/admin-panel">
    <input
      type="first name"
      class="form-control mt-2"
      placeholder="first name"
      name="fname"
      required
    />
    <input
      type="last name"
      class="form-control mt-2"
      placeholder="lastname"
      name="lname"
      required
    />
    <input
      type="email"
      class="form-control mt-2"
      placeholder="enter email"
      name="usremail"
      required
    />
    <input
      type="password"
      class="form-control mt-2"
      placeholder="Enter password"
      name="psw"
      required
    />
    <input
      type="password"
      class="form-control mt-2"
      placeholder="Re enter password"
      name="repsw"
      required
    />
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>
<%- include('./Partials/footer.ejs') -%>
