/* styling front page */
.frontpage {
  display: flex;
  width: 100%;
}
.frontpage-left {
  flex: 1;
  display: grid;
  place-items: center;
}
.frontpage-left h1 {
  font-size:50px;
  margin-bottom: 7%;
  text-align: justify;
}
.frontpage-right {
  flex: 1;
  width: 100%;
}
.frontpage-right img {
  width: 100%;
}

@media only screen and (max-width: 700px) {
    .main__head {
      font-size: 20px;
    }
    .sub__head {
      font-size: 15px;
    }
    .tert__head {
      font-size: 10px;
    }
}